<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
  </div>
  
  
<ul class="list mx-auto">
  <li class="list__item">one</li>
  <li class="list__item">two</li>
  <li class="list__item list__item--blue">three</li>
  <li class="list__item">four</li>
</ul>

  
 
</div>