.container
  .row
    h1.px-3.mx-auto
      | Welcome to 
      i.fas.fa-book
      strong
        | Bookers
      | !
  ul.list.mx-auto
    li.list__item
      | one
    li.list__item
      | two
    li.list__item.list__item--blue
      | three
    li.list__item
      | four
